.home {
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.home .message{
  background-color: transparent;
  color: white;
}

.home .message .header:not(.ui){
  font-weight: 900;
  font-size: 5vw;
  margin-bottom: 1vw;
}

.home .message p {
  font-weight: lighter;
}